* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.NavBar {
    background-color: #F55A5A;
    min-height: 55px;
    max-height: 165px;
    justify-content: center;
    display: flex;   
    margin-bottom: 50px;
}

.NavImage{
    width: 25px;
    height: 26px;
    vertical-align: middle;
}

.NavText{
    font-size: 14.46px;
    color: white;
    text-align: center;    
}


.Card {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 36px;
}


.CardImage {
    min-width: 125px;
    min-height: 168px;
    max-width: 375px;
    max-height: 504px;
    border-radius: 5px;
    
}

.CardIcon {
    min-width: 14px;
    min-height: 16px;
    width: 14px;   
    margin-left: 0;
    padding-top: 12px;
    margin-right: 3px;
}

.CardInfo {
    margin-bottom: 0;
    margin-top: 5;
    margin-left: 19px;
    font-size: 10.24px;
    font-weight: 400;
    
}

.CardLocation {
    display: inline-flex;
    align-items: center;
}

.CardLocationText {
    letter-spacing: 0.17em;
}

.GoogleMapsLink {
    display: inline-flex;
    padding-top: 14px;
    margin-left: 10px;
    align-items: center;
    font-size: 10.24px;
}

.CardDes {
    inline-size: 326px;
    overflow-wrap: break-word;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 150%;
}

.CardTravel {
    font-size: 10.24px;
    font-weight: 700;
    
}

.CardPlace {
    font-size: 25px;
    margin-top: -5px;
}